.jumbotron {
    margin: 0px;
}

.sticky-nav {
    position: sticky;
    z-index: 1;
    top: 0;
}

.nav-title {
    text-align: center;
}

.nav-restart {
    float: left;
    padding-left: 30px;
}

.status {
    float: right;
    padding-right: 20px;
}