.jumbotron {
    margin: 0px;
    
}

.sticky-nav {
    position: sticky;
    z-index: 1;
    top: 0;
}

.nav-title {
    /* font-family: 'Montserrat', sans-serif; */
    text-align: center;
}

h1, p, .status, .nav-restart {
    font-family: 'Montserrat', sans-serif;
}

.nav-restart {
    float: left;
    padding-left: 30px;
}

.status {
    float: right;
    padding-right: 20px;
}
