.jumbotron {
    margin: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}



/* revisit functionality */
.sticky-nav {
    position: sticky;
    z-index: 1;
    top: 0;
}

h1, p, .status, .nav-restart {
    font-family: 'Montserrat', sans-serif;
}

.nav-restart {
    float: left;
    padding-left: 30px;
}
